<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707865917133-e8vg7rieldsp7r182k11nnjjk0aqfmi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707865917133-e8vg7rieldsp7r182k11nnjjk0aqfmi5</string>
	<key>API_KEY</key>
	<string>AIzaSyCmeJN8kTBD60TNiI_2hLq8aQZ4jVDzTfY</string>
	<key>GCM_SENDER_ID</key>
	<string>707865917133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noob.dev.noobChat</string>
	<key>PROJECT_ID</key>
	<string>noob-chat-1729</string>
	<key>STORAGE_BUCKET</key>
	<string>noob-chat-1729.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707865917133:ios:f05d28154c8884912a5b84</string>
</dict>
</plist>